    {% load static %}
    <!-- footer start-->
    <div class="row mt-4 bg-light">
        <div class="col-md-4">     
          <h5>Address</h5> <hr>
          2nd floor, Landmark building<br>
          Near FC road, <br>
          Shivaji Nagar,Pune <br>
          <p><i class="bi bi-envelope-fill"></i>: Anonymous@gmail.com</p> 
          <p><i class="bi bi-telephone-fill"></i>: 8989898989</p>
        </div>
        <div class="col-md-4">
            <h5>Quick links</h5> <hr>
            <p><a href="index.html" class="anchor">Home</a></p>
            <p><a href="about.html" class="anchor">About</a></p>
            <p><a href="Cart.html" class="anchor">Cart</a></p>
            <p><a href="contact.html" class="anchor">contact</a></p>
        </div>
        <div class="col-md-4">
            <h5>Contact Us</h5> <hr>
            <p><a href="http://www.linkedin.com"><i class="bi bi-linkedin"></i></a></p>
            <p><a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a></p>
            <p><a href="http://www.instagram.com"><i class="bi bi-instagram"></i></a></p>
            <p><a href="http://www.facebook.com"><i class="bi bi-facebook"></i></a></p>
        </div>
    </div>

    </div><!-- container end-->
    
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>